*{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}
/* Estilo del index */
.inicio, .inicio form{
    color: antiquewhite;
    background-color: rgb(61, 61, 61);
}
.inicio form {
    margin: 15% 40% ;
    text-align: center;
    align-items: center;
}
.cedula-contenedor input, .cedula-contenedor select{
    width: 100%;
    margin: 1% ;
}
.botones-contenedor{
    margin: 10PX 0;
}
.link-registro-contenedor input{
    margin: 5px 5px;
}
/* Estilo de Usuario */
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    color: black;
    margin-top: 5%;
}
.registro-contenedor{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
}
.registro label, .registro input{
    width: 100%;
    margin: 10px 0;
}
/* Estilo Evento */
.evento-contenedor {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}
.evento-contenedor input{
    width: 100%;
    margin: 10px 0;
}
.evento-contenedor .botones-contenedor{
    width: 50%;
    margin: 10px 25%;
}
/* Estilo Inscripcion */
.inscripcion{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}
.inscripcion input, .inscripcion select{
    width: 100%;
    margin: 10px 0;
}
.inscripcion .botones-contenedor{ 
    width: 40%;
    margin: 10px 25%;
}
/* Estilo Metricas */
.metricas{
    background: #8C8C8C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
}
.metricas-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.metricas-eventos select{
    width: 50%;
    margin-bottom: 10px;
}
.metricas-imagen{
    width: 363px;
    height: 365px;
    left: 193px;
    top: 247px;
}
.metricas-texto{
    background: #D9D9D9;
    width: 50%;
    height: 70px;
    margin: 0 20px;
    vertical-align: baseline;
}
.metricas-informacion{
    display: flex;
    padding-left: 9%;
    margin-top: 10px;
}